* {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#imageGallery {
    columns: 350px auto;
    column-gap: .75rem;
    padding: 20px;
}

.post {
    break-inside: avoid;
    margin-bottom: .75rem;
    width: 100%;
    height: auto;
    display: block; /* This helps prevent weird spacing issues */
}